.listContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   list-style: none;
   padding: 0;

   .colorContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      width: 80px;
      box-shadow: 0 0 6px lightgray;
      border-radius: 12px;

      .colorRectangle {
         width: 30px;
         height: 30px;
         background-color: var(--color);
         box-shadow: 0 0 2px gray;
      }

      .colorLabel {
         color: rgb(102, 102, 102);
         margin-bottom: 0;
      }
      
      .removeButton {
         position: absolute;
         top: 7px;
         right: 10px;
         width: 14px;
         height: 14px;
         &:hover {
            &::before,
            &::after {            
               background: black;
            }
         }
         &::before,
         &::after {            
            content: '';
            position: absolute;
            top: 0;
            width: 1px;
            height: 100%;
            background: gray;
         }
         &::before {
            transform: rotate(45deg);
         }
         &::after {
            transform: rotate(-45deg);
         }
      }
   }
}
