.filterFormContainer {
   margin: 40px 0;

   .subtitle {
      font-size: 20px;
      margin-bottom: 12px;
   }

   .filterForm {
      display: flex;
      gap: 20px;

      .checkboxContainer {
         
         .checkboxInput {
            margin-right: 5px;
         }

         .checkboxLabel {
            cursor: pointer;
         }
      }
   }
}